.SinglePost{

    display: flex;
    flex-direction: column;
    align-items: center;

    .text{
        margin-top: 5vh;
        width: 50vw;
        background-color: #ededed;
        padding: 3vw;
        font-family: 'Bree Serif', serif;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .text{
        width: 70vw !important;

    }
}

@media screen and (max-width: 460px) {
    .SinglePost{
        h3{
            width: 15rem;
        }
    }
}