*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    body{
        background-color: #f6f2e7;
        width: 100vw;
        height: fit-content;
        padding-bottom: 10vh;

        display: flex;
        flex-direction: column;
        align-items: center;

        overflow-x: hidden;
    }
}